
<%#= javascript_include_tag "mobilyslider.js" %>
<%#= stylesheet_link_tag    "slider" %>
<script>
$(function(){

	$('.slider1').mobilyslider({
      content: '.sliderContent', 		// класс для контейнера слайдера
      children: 'div', 					// селектор слайдов
      transition: 'fade', 			// эффект перехода между слайдами: horizontal, vertical, fade
      animationSpeed: 1500, 				// скорость перехода между слайдами в ms
      autoplay: true,					// включение автопроигрывания
      autoplaySpeed: 2900, 				// время показа слайда в ms
      pauseOnHover: false, 				// остановка автопроигрывания при наведении курсора мыши
      bullets: true, 					// генерация указателя слайдов (true/false, класс: sliderBullets)
      arrows: true, 						// генерация стрелок вперед/назад (true/false, класс: sliderArrows)
      arrowsHide: false, 					// выводим стрелки только при наведении курсора мыши
      prev: 'prev', 						// имя класса для кнопки назад
      next: 'next', 						// имя класса для кнопки вперед
      animationStart: function(){}, 		// возвратная функция, которая вызывается при запуске перехода между слайдами
      animationComplete: function(){} 	// возвратная функция, которая вызывается после завершения перехода между слайдами
  });

});
</script>
<div class="left">
<div class="container_12 main_img_container">	
	<div class="slider slider1">
		<div class="sliderContent">
						    
			<div class="item" style="display: none;">
			    <div class="slider_container">
			    	<div class="body">
                          <div class="slider_image">
	                    	<img src="slider1.jpg" alt="недвижимость на кипре" />
						  </div>
							<h1></h1>							        
			         </div>
			     </div>
			   </div>
			
			<div class="item" style="display: none;">
			    <div class="slider_container">
			    	<div class="body">
                          <div class="slider_image">
	                    	<img src="slider2.jpg" alt="недвижимость на кипре" />
						  </div>
							<h1></h1>							        
			         </div>
			     </div>
			   </div>
			
			<div class="item" style="display: none;">
			    <div class="slider_container">
			    	<div class="body">
                          <div class="slider_image">
	                    	<img src="slider3.jpg" alt="недвижимость на кипре" />
						  </div>
							<h1></h1>							        
			         </div>
			     </div>
			   </div>
			
			<div class="item" style="display: none;">
			    <div class="slider_container">
			    	<div class="body">
                          <div class="slider_image">
	                    	<img src="slider4.jpg" alt="недвижимость на кипре" />
						  </div>
							<h1></h1>							        
			         </div>
			     </div>
			   </div>			
						    			
		</div>
	</div>	
 </div>

<div class="clear"></div>
<div class="bottom_shadow"></div>
</div>


<div class="right">
	<div class="search_container">

		<%= render 'form' %>

		<%#= link_to 'Back', searchresults_path %>
	</div>	
</div>
<div class="clear"></div>
<h1>Hаши лучшие предложения</h1>
</br>
<ul class="best_container">
	<% @properties.each do |property| %>
	<%-if property.onmain? %>
	<li>
		<div class="best_box">
			<div class="onmaim_img">
		  <%= link_to image_tag(property.photo.url(:onmaim)), property %>
		    </div>	
		  <%#= image_tag property.photo.url(:medium) %>			  	
	    </div>
	    <div class="best_shadow"> 
		</div>
		<h2><%= link_to property.name, property, :class=>"a_title" %></h2>
		<p><%= property.observe %></p>
	</li>
	<% end%>
	  <% end%>
	    <div class="clear"></div>
	</ul>
	   <div class="clear"></div>
<div class="clear hr"></div>	
<h1>Hедвижимость на Кипре</h1>
<p>Кипр – настоящая жемчужина Средиземноморья, привлекающая к себе миллионы гостей из разных стран мира. Кипр – остров умиротворения, любви и красоты, остров романтиков, радующихся жизни. Много веков назад этот остров заметили могущественные боги Олимпа, а ведь они могли выбрать только лучшее!</p>
<p>Покупка недвижимости на Кипре имеет множество преимуществ. Кипр - это 320 солнечных дней в году, мягкий климат, теплое море, живописная природа и прекрасная экология: здесь нет загрязняющих атмосферу промышленных предприятий. Остров славится древней историей и богатейшим культурным наследием. Это крупный туристический центр, а также деловой центр региона, здесь успешно развивается в том числе и украинский бизнес.</p>
<p>Многие украинские и российские граждане обрели здесь вторую родину, в крупных городах нередко можно услышать русскую речь. Здесь созданы прекрасные условия для жизни и ведения бизнеса, отдыха. Гостеприимство киприотов известно далеко за пределами страны, а к славянам здесь относятся особенно благожелательно, менталитет греков-киприотов близок славянскому.
</p>
<p>Система права, действующая на Кипре, имеет в своей основе английское право и считается наиболее надежной в мире. Недвижимость на Кипре приобретается на основе права собственности. Для иностранных инвесторов это очень важно. При покупке недвижимости на Кипре формальности для иностранцев необременительны, процедура оформления проста и прозрачна (подробнее о процедуре оформления - в разделе "Покупка и оформление недвижимости"). Налогообложение для владельцев недвижимости на Кипре очень логичное и понятное, а главное, не столь обременительное. Все эти факторы неизменно привлекают на Кипр покупателей недвижимости из России, Британии и других стран мира. Значительную долю покупателей недвижимости на Кипре занимают иностранцы</p>


<script type="text/javascript">
	$(document).ready(function(){	

		if (!$.browser.opera) {
    
			// select element styling
			$('select.select').each(function(){
				var title = $(this).attr('title');
				if( $('option:selected', this).val() != ''  ) title = $('option:selected',this).text();
				$(this)
					.css({'z-index':10,'opacity':0,'-khtml-appearance':'none'})
					.after('<span class="select">' + title + '</span>')
					.change(function(){
						val = $('option:selected',this).text();
						$(this).next().text(val);
						})
			});

		};
		
	});
</script>