<div class="sort"> 
<div class="left"><span> Список вех предложений </span></div>

	<div class="right"> 
<%= link_to "Цене", "/catalog_price" %>
    </div>
   <div class="right">
<%= link_to "Типу", "/catalog_type" %>
  </div>

<div class="right"><span>Сортировать по:</span>
</div>

</div>
<div class="clear"> </div>