<div class="pages">
<h1>O Kипре</h1>
	
<div class="cyprus_img"></div>

<div class="pages_direct_info">
	<p><b>Столица:</b>Никосия</p>
	<p><b>Территория:</b>9 250 [2] км²</p>
	<p><b>Население:</b>около 800 тысяч человек</p>
	<p><b>Часовой пояс:</b>+2 от центрального Европейского</p>
	<p><b>Валюта:</b>Евро</p>
</div>
<div class="clear"> 
</div>
<h2>Климат</h2>
<p>Климат Кипра в рекламе не нуждается. Если кто-то ищет самый здоровый климат на Земле – ему нужно ехать на Кипр. Летом здесь бывает очень жарко, до плюс 35, а зимой довольно тепло – плюс 15. На Кипре курортный сезон длится круглый год. Благоприятный для здоровья климат служит тому, что средняя продолжительность жизни в этой стране одна из самых высоких в мире.</p>

<h2>География</h2>
<p>Расположился Кипр в восточной части Средиземного моря и собрал в себе удивительной красоты природу и богатое культурное наследие. На острове весь год стоит прекрасная летняя погода, размеренная жизнь непринужденно течет на открытом воздухе. Побережье острова усыпано золотым песком, на котором расположены обширные песчаные пляжи. Заливы с галечным дном на чистом изумрудном море производят незабываемое впечатление. Весна покрывает пестрым цветочным ковром склоны величественных гор Троодос, а в прохладные месяцы вершины покрыты снежными шапками, что позволило местным властям соорудить там горнолыжную инфраструктуру для активного отдыха. </p>
<h2>Кипр – известнейшее место отдыха.</h2>
<p>Приморские курорты предоставляют местным жителям и туристам развлечения на самый взыскательный вкус. В последние годы наметилась интересная тенденция: туристы, которые во время отпуска познакомились с нашим образом жизни, переезжают к нам насовсем.</p>
<ul class="best_container">
	<li>
		<div class="best_box">
		  <img src="best.jpg" alt="недвижимость на кипре" />	  	
	    </div>
	    <div class="best_shadow"> 
		</div>
	</li>
	<li>
		<div class="best_box">
		  <img src="best.jpg" alt="недвижимость на кипре" />	  	
	    </div>
	    <div class="best_shadow"> 
		</div>
	</li>
	
	<li>
		<div class="best_box">
		  <img src="best.jpg" alt="недвижимость на кипре"  />	  	
	    </div>
	    <div class="best_shadow"> 
		</div>
	</li>
	<div class="clear"> 
	</div>
</ul>


<h2>Культура и традиции.</h2>
<p>Может показаться, что современный Кипр с его сегодняшней инфраструктурой (магазинами и аэропортами международного класса) далек от обычаев предков. На самом деле многие традиции сохранились до сих пор. Самобытные деревни на склонах гор, укрытые плющом, кажутся перенесенными сюда из очень далекого прошлого. Вышивка, ткачество, изготовление изделий из серебра и другие древние ремесла до сих пор процветают на острове. </p>

<p>Амфитеатры, античные крепости, монастыри, средневековые надгробья и мозаичные панно свидетельствуют о богатой событиями и долгой истории острова. Археологи постоянно находят новые факты о прошлом Кипра, а недавно выдвинули гипотезу о соседстве Кипра с легендарной Атлантидой. A также как и в древние времена, Кипр сохраняет свою привлекательность. Жизнь и природа на этом острове такие разнообразные, что каждому найдется что-либо по душе – потрясающие ландшафты и умеренный климат, завораживающие памятники архитектуры и вкуснейшая южная кухня. Особенно стоит отметить дружелюбие местных жителей. Неповторимое очарование Кипра надолго запечатлевается в глазах любого, кому однажды посчастливилось побывать на этом острове. «Остров контрастов» обладает поистине магической притягательностью, буквально разлитой в воздухе этого замечательного острова.</p>


<h2>Жизнь на Кипре и бытовые особенности</h2>
<p>На новом месте освоиться совсем несложно. Английский язык на Кипре используется везде. Левостороннее движение и правовая система по английскому образцу. Жизнь и работу на острове существенно облегчает то преимущество, что Кипр является полноправным членом Евросоюза.</p> 

<p>Уровень жизни на Кипре соответствует уровню развитых европейских стран. Ежегодный доход на душу населения составляет около 9 500 евро. Стоимость жизни дешевле, чем в большинстве стран Европы. В многочисленных магазинах, бутиках, супермаркетах представлен широкий ассортимент товаров. Доступные цены на товары и невысокие коммунальные платежи позволяют достойно жить, имея годовой доход до 8 500 евро.</p>

<p> Стоимость недвижимости на Кипре не является исключением. Налоги, тарифы, расходы на ее содержание очень лояльны и составляют лишь часть от аналогичных затрат в странах Западной Европы. </p>

 <p>Киприоты настолько гостеприимны, что приезжие чувствуют себя как дома, и привычный для них образ жизни быстро и гармонично сливается с укладом местной жизни.</p>

<p> На Кипре отсутствует преступность. На автомобилях нет сигнализаций, они часто не запираются. То же можно сказать о домах: выходя на улицу, местные жители не всегда закрывают двери. На Кипре можно чувствовать себя в безопасности в любое время суток.</p>

<ul class="best_container">
	<li>
		<div class="best_box">
		  <img src="best.jpg" alt="недвижимость на кипре" />	  	
	    </div>
	    <div class="best_shadow"> 
		</div>
	</li>
	<li>
		<div class="best_box">
		  <img src="best.jpg" alt="недвижимость на кипре" />	  	
	    </div>
	    <div class="best_shadow"> 
		</div>
	</li>
	
	<li>
		<div class="best_box">
		  <img src="best.jpg" alt="недвижимость на кипре"  />	  	
	    </div>
	    <div class="best_shadow"> 
		</div>
	</li>
	<div class="clear"> 
	</div>
</ul>

<h2>Продукты питания</h2>
<p>Климат Кипра позволяет получать несколько урожаев в год. Огромное количество самых разных овощей и фруктов представлено в магазинах. Доступные цены позволяют не ограничивать себя в богатых витаминами дарах природы.</p>

<p>На Кипре множество ресторанов на любой вкус, кафетериев, баров. В крупных отелях и ресторанах можно заказать как блюда французской, итальянской, китайской, русской, японской, ливанской и мексиканской кухни, так и местные блюда.В основе национальной кухни Кипра лежат средиземноморские блюда с некоторыми следами английского влияния.</p>

 <p>Чисто кипрским кушаньем является мезе – набор многочисленных закусок и блюд. В большинстве случаев среди 8-10 различных блюд, входящих в мезе, есть таллатури (салат из огурцов с чесноком в йогурте), мелиндзаносалата (салат из баклажанов) и хумми компанисти (мусс из желтого гороха с оливковым маслом и петрушкой), различные мясные или рыбные блюда, а также смешанный салат из помидоров и огурцов, маслин и овечьего сыра.</p>

 <p>Типичными для кипрской кухни являются клефтико (запечённое мясо ягнёнка), мусакас (запеченное рубленное мясо с овощами, яйцом и сыром). Зимой особенно популярны куриный, пасленовый, чечевичный супы, а также суп из чабреца, суп-лапша.  Главные блюда готовятся на подсолнечном масле или бараньем жире, подаются на стол горячими. Для салатов используется оливковое масло.</p>

<p>Кипрские вина, известные еще с древности, сохраняют свои традиции. Только на Кипре можно попробовать вино «Коммандария», изготовление которого началось во времена крестоносцев. Кипрские вина одни из самых лучших в мире, здесь можно найти самые разные напитки, пригодные для всех видов блюд на любой вкус.</p>

<h2>Транспорт, автомобили</h2>
<p>На Кипре два действующих международных аэропорта: в Пафосе и Ларнаке. Аэропорт Никосии закрыт из-за Греко-турецкого конфликта. Крупными морскими портами являются Лимассол и Ларнака в Республике Кипр и Фамагуста на Северном Кипре.
Из-за маленьких размеров острова на Кипре нет железных дорог и внутренних авиалиний. Открытая в начале 20-го века британскими властями железная дорога, прослужила менее 50 лет и была закрыта из-за низкой окупаемости. </p>

 <p>Все поездки по стране можно осуществить на рейсовых автобусах, такси и личных автомобилях. Автодороги на Кипре считаются одними из лучших в Европе.</p>

</div>	