<div class="pages">
<h1>Контакты</h1>
	
<div class="cyprus_img"></div>

<div class="pages_direct_info">
	<p><b>Телефон в Украине:</b>+380 66 888 11 46</p>
	<p><b>Телефон на Кипре:</b>+357 990 080 16</p>
	<p><b>E-mail:</b>info@domnakipre.com.ua</p>
</div>
<div class="clear"> 
</div>
<!--<h2>О нас</h2>
<p>Климат Кипра в рекламе не нуждается. Если кто-то ищет самый здоровый климат на Земле – ему нужно ехать на Кипр. Летом здесь бывает очень жарко, до плюс 35, а зимой довольно тепло – плюс 15. На Кипре курортный сезон длится круглый год. Благоприятный для здоровья климат служит тому, что средняя продолжительность жизни в этой стране одна из самых высоких в мире.</p>
</div>-->