<div class="pages">
<h1>Контакты</h1>
	
<div class="cyprus_img"></div>

<div class="pages_direct_info">
	<p><b>Aдрес:</b>-</p>
	<p><b>Телефон:</b>-</p>
	<p><b>Факс:</b>-</p>
	<p><b>E-mail:</b>-</p>
	<p><b>Почтовый код:</b>-</p>
</div>
<div class="clear"> 
</div>
<h2>О нас</h2>
<p>Климат Кипра в рекламе не нуждается. Если кто-то ищет самый здоровый климат на Земле – ему нужно ехать на Кипр. Летом здесь бывает очень жарко, до плюс 35, а зимой довольно тепло – плюс 15. На Кипре курортный сезон длится круглый год. Благоприятный для здоровья климат служит тому, что средняя продолжительность жизни в этой стране одна из самых высоких в мире.</p>
</div>